<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Add Password</h2>
        </div>
        <div class="card-body">
            <div class="row justify-content-center align-self-center">
                <label>Website</label>
                <input type="text" placeholder="Enter Website" id="site" name="site" [(ngModel)]="site" required><br>
                <label>Username</label>
                <input type="text" placeholder="Enter Username" id="user" name="user" [(ngModel)]="user" required><br>
                <label>Password</label>
                <input type="text" placeholder="Enter Password" id="pass" name="pass" [(ngModel)]="pass" required><br>
                <button type="button" (click)="createPassword()">Add Password</button>
            </div>
        </div>
    </div>
</div>